<ul class="collection">
  <% comments.each do |comment| %>
    <li class="collection-item avatar">
      <div class="avatar-img-circle">
        <%= gravatar_for(comment.user, size:50) %>
      </div>
      <span class="title"><%= comment.user.name %></span>
      <p><%= comment.body %></p>
    </li>
  <% end %>
</ul>
<%= paginate comments %>